<!-- Apuntes clase 1 -->

<h1>Primera app de angular corriendo - {{titulo}}</h1>
<!--<input [(ngModel)]="variableInput"/> --> <!--  Es un doble bindeo -->

<!-- <p>{{variableInput}}</p>

<button (click)="variableInput = 'hola'">Saludar</button>


<input type="number" [(ngModel)]="numero1"/>
<input type="number" [(ngModel)]="numero2"/>
<button (click)="Sumar()">Sumar</button>

<p>Resultado = {{resultado}}</p>

<hr/>

<img [src]="imagen"> -->

<!-- [] Todo lo que va dentro de las comillas es Javascript, si quiero agregar texto, agrego comiilas simples/dobles dependiendo que haya ingresado primero -->
<br>

<label>Ingrese edad 1:</label><br>
<input type="number" [(ngModel)]="edadUno"/><br>

<label>Ingrese edad 2:</label><br>
<input type="number" [(ngModel)]="edadDos"/>

<br>

<button (click)="Promedio()">Calcular Promedio</button> <button (click)="LimpiarForm()">Limpiar Formulario</button>

<h1> El promedio es {{promedio}}</h1>


