<nav class="navbar bg-dark bg-body-tertiary">  
    <a class="navbar-brand" routerLink="" routerLinkActive="active">Proyecto de ejercicios - Leonel Ledesma</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Clases</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <form class="d-flex mt-3" role="search">
        <input class="form-control me-2" type="search" (keyup)="buscar()" [(ngModel)]="busqueda" name="busqueda" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success"  type="submit">Buscar</button>
      </form>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="" data-bs-dismiss="offcanvas" routerLinkActive="active">Inicio/Apuntes</a>
          </li>          
          <li *ngFor="let clase of clases" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle show" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              {{clase.nombre}}
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let ejercicio of clase.ejercicios"><a class="dropdown-item" routerLink="{{clase.uri}}/{{ejercicio.uri}}" data-bs-dismiss="offcanvas" routerLinkActive="active">{{ejercicio.nombre}}</a></li>              
            </ul>
          </li>          
        </ul>
      </div>
    </div>  
</nav>
