<div>
    <h1>Leonel Ledesma</h1>
    <hr>
    <div>
        <p>Proyecto creado para la realizacion de ejecicios durante la cursada de la materia Programacion 4 </p>
        <p>durante el primer cuatrimestre del 2023</p>
        <p>La idea de esta pantalla es ir haciendo algunas anotaciones acerca de lo hablado en clase.</p>
    </div>
    <hr>
    <h3>Clase 1</h3>
    <p>
    <li><b>[(NgModel)]</b>: Se llama doble bindeo o Two Way Binding, donde la comunicacion es <b>bidireccional</b>, 
                    cambiando el valor del atributo, tanto en la interfaz como en el modelo. Dividiendo lo que es cada elemento queda asi:</li>
        <li><b>[Property Binding]</b>: Ejemplo [value] = "nombre" -> Donde value es la propiedad de un elemento HTML. Modelo -> Vista</li>
        <li><b>(Event Binding)</b>: Ejemplo (click)="sumar()" -> Donde al lanzarse el evento click, ejecuta el codigo javascript entre las comillas.</li>
     </p>
    
</div>